.App{
  text-align: center;
}

li{
  list-style: none;
}

.container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 
}

.container > li{
   border: 1px solid green;
   border-radius: 4px;
   margin:0.5rem;
   padding:0.5rem;
   height:250px;
   width: 200px;
}

.skills{
  display:flex;
  justify-content: center;
}


/* style for color box start */

.colorBox{
  width:12rem;
  height: 12rem;
  margin:6px;
  border:1px solid black;
  border-radius: 6px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.colorbtn{
  margin:6px;
  padding:3px;
}

.colorCode{
  background-color: white;
  padding:3px 6px;
  border-radius: 3px;
  cursor:pointer

}

/* style for color box end */

/* style for  greet-box start */
  .greetbox{
    height:100px;
    max-width:fit-content;
    padding: 3px 60px;
    border-radius: 3px;
    background-color: rgb(8, 141, 203);
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* style for  greet-box end */

/* style for  showUser start */

.showUser{
  text-align: center;
}

.searchBox{
  padding:6px 16px;
  margin-bottom: 6px;
  border-radius: 4px;
}

.UserInfoBox{

  border: 1px solid red;
  width:350px;
  margin:auto;
  text-align: start;
  padding: 6px 10px;

}
/* style for  showUser end */

/* style for react-memo app */
.parentBox{
  border:3px  solid maroon;
  border-radius: 6px;
  width: 400px;
  height: 400px;
   margin: 16px;
  box-shadow: 0px 0px 10px rgb(203, 26, 6) ;
  text-align: center;
}

.childBox{
  border:3px  solid maroon;
  border-radius: 6px;
  width: 200px;
  height: 200px;
 
  box-shadow: 0px 0px 10px rgb(101, 6, 203) ;
  text-align: center;
  margin-top: 30px;
  margin-left: 25%;
}

.border{
  border: 2px solid red;
  width: 300px;
  margin: 4px ;
}