.App{
  text-align: center;
}

li{
  list-style: none;
}

.container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 
}

.container > li{
   border: 1px solid green;
   border-radius: 4px;
   margin:0.5rem;
   padding:0.5rem;
   height:250px;
   width: 200px;
}

.skills{
  display:flex;
  justify-content: center;
}